<div class="container d-flex flex-column justify-content-center align-items-center">
  <div>
    <h1>New Game </h1>
  </div>
  <div class="container d-flex flex-row justify-content-center">
    <%@letters.each do |letter|%>
      <li class="p-3 m-3 d-flex align-items-center justify-content-center" style="height: 50px; width: 50px; background-color: navy; color: white; font-size: 26px;"><%=letter%></li>
    <%end%>
  </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <h3> What is the longest word you can find?</h3>
  <form action="/score" method="POST" data-turbo="false">

    <input type="text" name="word">
    <input type="hidden" id="time" name="time" value="<%=Time.now%>">
    <%= hidden_field_tag :grid, @letters %>

    <input type="submit" value="Submit" id="Play">

    <!-- ... -->
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :t, Time.new %>
  </form>
</div>
